body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-image: url('../images/futurama.jpg');
    height: 200px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.quote-detail {
    margin-bottom: 5px;
}

.quote-detail .details {
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.list-group-item {  
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}

.mini-quote-img {
    width: 60px;
    height: 60px;
}

.quote-img {
    display: block;
    width: 40%;
    height: 350px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.quote-card {
    width: 18rem;
}